<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="static/paper_img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>密码猜测</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/ct-paper.css" rel="stylesheet"/>
    <link href="static/css/demo.css" rel="stylesheet" />
        
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>-->
      
</head>
<body>

<!--    navbar come here          -->

<nav class="navbar navbar-ct-transparent" role="navigation-demo" id="demo-navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
                <div class="logo-container">
                    <div class="logo">
                        <img src="static/paper_img/new_logo.png" alt="Creative Tim Logo">
                    </div>
                    <div class="brand">
                        用户 画像
                    </div>
                </div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="qq-nav">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/search" class="btn btn-danger btn-simple">智能搜索</a>
                </li>
                <li>
                    <a href="/crawl" class="btn btn-danger btn-simple">主动爬取</a>
                </li>
                <li>
                    <a href="/password" class="btn btn-danger btn-simple">密码猜测</a>
                </li>
                <li>
                    <a href="/network" class="btn btn-danger btn-simple">流量分析</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>

<!-- end navbar  -->



<div class="wrapper">
    
    <!-- content come here     -->
    <div class="container">
        <p class="row">
            <div class="tim-title">
                <h3>关于</h3>
            </div>
            <p>词语联想研究欢迎你的到来！<p>
            <br />

            <p>一般来说，一名成年人大概会四万个单词和单字。
            许多从事心理学和语言学研究的人都很想了解，这些词语在我们的头脑里究竟是怎样表示出来的。
            而你，正好可以帮助我们来获得这一知识架构。</p>
            <br/>

            <p>玩上一个5分钟、18 个词语的文字游戏，举手之劳，你就可以给予我们很大的帮助。
                这个游戏既简单又有趣。你会看到一些词语，所要做的只是把头脑里直接蹦出来的
                头三个词或者字写下来就可以了。这个游戏老少咸宜，
                只要你中文流利、打字没有障碍就行。
            </p>

            <br/>

            <p>
                陶敬: jtao@mail.xjtu.edu.cn
                <br />
                王平辉: phwang@mail.xjtu.edu.cn
            </p>
        </div>
    </div>

    <footer class="footer-demo section-dark">
        <div class="container">
            <nav class="pull-left">
                <ul>

                    <li>
                        <a href="http://nskeylab.xjtu.edu.cn/site/lab/">
                            实验室
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#/product/rubik">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; 2017, made with <i class="fa fa-heart heart"></i> by IMISS
            </div>
        </div>
    </footer>
</div>



<!-- Modal Bodies come here -->

<!--   end modal -->


</body>

    <script src="static/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="static/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

	<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
	
	<!--  Plugins -->
	<script src="static/js/ct-paper-checkbox.js"></script>
	<script src="static/js/ct-paper-radio.js"></script>
	<script src="static/js/bootstrap-select.js"></script>
	<script src="static/js/bootstrap-datepicker.js"></script>
	
	<script src="static/js/ct-paper.js"></script>
</html>